body{
  background: #f8f8f8;
}
.content{
  width: 400px;
  margin: auto;
  h1{
    text-align: center;
    color: #f00;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  form{
    border-color: #ddd;
    .form-control_login{
      margin-bottom: 15px;
      p{
        margin-bottom: 5px;
      }
      input{
        margin-top: 5px;
        height: 35px;
        padding-left: 20px;
        border-radius: 5px;
        &:focus{
          outline: unset;
          box-shadow: unset;
        }
      }
    }

  }
}