<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/tintuc.css">
</head>
<body>
<div class="header">
    <div class="container">
        <ul class="ul-menu">
            <li class="li-menu">
                <a class="a-logo" href="/home">
                    <img src="../static/images/Logo.png" alt="logo">
                </a>
            </li>
            <li class="li-menu">
                <a class="a-menu" href="/home">Trang chủ</a>
            </li>
            <li class="li-menu">
                <a class="a-menu active" href="/gioi-thieu">Giới thiệu</a>
            </li>
            <li class="li-menu">
                <a class="a-menu" href="/khach-san">Khách sạn</a>
            </li>
            <li class="li-menu">
                <a class="a-menu " href="/tin-tuc">Tin Tức</a>
            </li>
            <li class="li-menu">
                <a class="a-menu" href="/tuyen-dung">Tuyển dụng</a>
            </li>
            <li class="li-menu">
                <a class="a-menu" href="/ban-do">Bản đồ</a>
            </li>
        </ul>
    </div>
</div>
<div class="content_hotel">
    <div class="bg">
        <h1>Giới thiệu</h1>
    </div>
    <div class="container">
        <h2 class="_title text-left">Web Hotel </h2>
        <div>
            Web Hotel Group là chuỗi khách sạn Tre, đẳng cấp hàng đầu trong Tập đoàn Tre Việt Nam. Hiện nay, thương hiệu khách sạn Bamboo đã và đang thực hiện hàng loạt dự án khách sạn lớn trên cả nước với quy mô hàng trăm khách sạn hiện đại hàng đầu 4 sao. Đến với khách sạn Bamboo, bạn không chỉ được hòa mình vào một cuộc sống vương giả với đầy đủ tiện nghi, dịch vụ chuyên nghiệp, chất lượng hàng đầu mà còn cảm nhận được bầu không khí ấm cúng, thoải mái và dễ chịu. , như một gia đình ngay tại nhà.<br>
            <br>
            Hiện nay, hệ thống khách sạn Web Hotel đang có mặt tại 4 tỉnh thành trên cả nước là Hà Nội, Hạ Long, Đà Nẵng, Vũng Tàu với nhiều khách sạn 4 sao. Các dự án khách sạn mới và sắp triển khai như Sapa, Huế, Mũi Né… với tổng công suất hơn 1000 phòng.<br>
            <br>
            Khách sạn Web Hotel là nơi an toàn, thân thiện cho mọi người, ở bất kỳ đâu trên đất nước. Tọa lạc tại vị trí đắc địa, thiên thời - địa lợi - nhân hòa, thư giãn trong hệ thống khách sạn của Bamboo, du khách có thể dễ dàng di chuyển đến các địa điểm du lịch nổi tiếng mà không tốn nhiều thời gian. Nó cũng là một điểm đến lý tưởng nhờ vào dịch vụ cao cấp của khách sạn. Tất cả các phòng đều được thiết kế theo phong cách hiện đại xen lẫn cổ điển, kiến &#8203;&#8203;trúc độc đáo, hài hòa giữa nét đẹp truyền thống của người Việt và nét tinh tế của phương Tây. Đội ngũ nhân viên khách sạn giàu kinh nghiệm, đội ngũ nhân viên chuyên nghiệp, nhiệt tình, không ngừng nâng cao trình độ chuyên môn và chất lượng, luôn sẵn sàng phục vụ khách hàng với phương châm “mang lại giá trị cốt lõi cho khách hàng”.<br>
            <br>
            Điểm nổi bật trong hệ thống khách sạn của chúng tôi là hệ thống dịch vụ nhà hàng mang đậm nét Âu - Á với thương hiệu Bamboo Restaurant. Ngay tại đây, bạn có thể thưởng thức những món ăn đặc sắc với hương vị ngon nhất theo phong cách Châu Á, được chế biến từ những nguyên liệu tươi ngon nhất dưới sự kiểm tra nghiêm ngặt đảm bảo an toàn vệ sinh thực phẩm. Sản phẩm dưới bàn tay khéo léo của đội ngũ đầu bếp giàu kinh nghiệm. Nhà hàng còn là địa điểm lý tưởng cho các buổi dạ tiệc, hội nghị, tiệc cưới với không gian sang trọng, sức chứa lớn lên đến 300 người, hệ thống ánh sáng, âm thanh, sân khấu theo tiêu chuẩn quốc tế.<br>
            <br>
            Ngoài ra, trong thời gian lưu trú tại khách sạn, bạn cũng có thể tận hưởng các tiện ích miễn phí ngay trong khuôn viên như phòng tập thể dục, spa, hồ bơi, ... Những thói quen hàng ngày, thói quen hàng ngày, sức khỏe và tinh thần của bạn. bảo trì tại nhà.<br>
            <br>
            Tuyệt vời, thoải mái và ấn tượng là những cảm nhận mà du khách nhận xét về chuỗi khách sạn Khách sạn Tre sau một thời gian ở đây và đó cũng là điều mà chúng tôi - những người có cơ hội được phục vụ các bạn cảm thấy tự hào nhất. Với những dịch vụ uy tín và chất lượng nhất được xây dựng từ những nỗ lực bền bỉ nhất, Khách sạn Bamboo cam kết mang đến cho bạn cuộc sống chất lượng cao nhất, những khoảnh khắc tuyệt vời nhất, hạnh phúc nhất, kỳ nghỉ của bạn là kỷ niệm mãi mãi không bao giờ quên.<br>
            <br>
            &nbsp;
        </div>

    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-4 col-footer address">
            <h3>
                <span>
                    THÔNG TIN LIÊN HỆ
                </span>
            </h3>
            <div>
                <p class="title-footer">WEB HOTEL</p>
                <ul>
                    <li>Số điện thoại: 0888708872</li>
                    <li>Website: http://127.0.0.1:5000/home</li>
                    <li>Email: humg@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-footer service-footer">
            <h3>
                <span>
                    DỊCH VỤ
                </span>
            </h3>
            <div>

                <ul>
                    <li>GYM</li>
                    <li>VISA</li>
                    <li>PHÒNG HỌP</li>
                    <li>NHÀ HÀNG</li>
                    <li>THUÊ XE</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-footer service-footer">
            <h3>
                <span>
                    KẾT NỐI VỚI CHÚNG TÔI
                </span>
            </h3>
            <div>
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0" nonce="U8nwggxK"></script>
                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width=""
                     data-height="200" data-small-header="true" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>